<ion-view view-title="Pick Place" hide-back-button="true" style="background: url(img/EAHIBEU9RzGpD7sQWrGn_ionicbg.jpg) no-repeat center;background-size:cover;">
	<ion-content style="padding: 5%">
		<ion-item class="item-divider">What do you want to search in your location?</ion-item>
		<div class="item item-input-inset">
			<label class="item-input-wrapper">
				<input type="search" ng-model="settings.query" style="width: 100%;">
				<a ng-if="settings.query != ''" on-touch="settings.query=''"><i class="icon ion-ios-close placeholder-icon"></i>
				</a>
			</label>
		</div>
		<button class="button button-block button-calm" ui-sref="map" >
			Search Place
		</button>
	</ion-content>
</ion-view>